In [17]:
import pandas as pd

In [18]:
df = pd.read_clipboard()

In [19]:
df

,Loan Number,Branch,Property State,Funded Month,Borrower,Units,Total Loan Amount,,Loan Program,Lien Position,Loan Purpose,Loan Officer,Lead Source,Referral Source,Referral Name,is 2020
0,290001507756,290,GA,9/1/21,Scott Anthony Dean,1,360000,Conventional,C30,First Lien,Purchase,Hunter McElroy,Garcia - McElroy Team,Katrina Sells Georgia,Kara / Remax,True
1,290001521668,290,GA,9/1/21,Trasha Renea Collins-Reed,1,252500,Conventional,C30,First Lien,NoCash-Out Refinance,Matt Garcia,Garcia - McElroy Team,Katrina Sells Georgia,Past Client,True
2,280001428022,280,GA,9/1/21,Judy T Bachmann,1,486540,Conventional,C30,First Lien,Purchase,Vic Hardy,Self-Generated,*no ASA account associated,Chris and Julie Hunt,True
3,280001444918,280,GA,9/1/21,Joseph Levi Mcphetridge,1,380126,Conventional,C30,First Lien,Purchase,Brian Messer,Self-Generated,*no ASA account associated,Abigale Greenhaw,True
4,280001456251,280,GA,9/1/21,Luis Felipe Roldan,1,394250,Conventional,C30,First Lien,Purchase,Justin Messer,Self-Generated,*no ASA account associated,Lisa Borowsky,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7674,297001543419,297,FL,10/1/21,Julie Lawhead,1,249600,Conventional,C30,First Lien,Purchase,Courtney Flood,Self-Generated,Coffey Group,Allison Bollero,True
7675,297001545050,297,FL,10/1/21,Lourdes Cristina Ruiz,1,333000,Conventional,C15,First Lien,Purchase,Tom Flood,Self-Generated,Ken Brownlee Team,Tammie Sidwell,True
7676,297001545175,297,FL,10/1/21,Dennis W Lessor,1,209700,Conventional,C30,First Lien,Purchase,John Ray,Sachs-Ray Team,*no ASA account associated,NaN,True
7677,297001545682,297,FL,10/1/21,Thomas Schroeder,1,172800,Conventional,C30,First Lien,Purchase,Jim DeNiro,Self-Generated,*no ASA account associated,Frank Tobey,True
7678,290001481693,290,GA,6/1/21,Michael M Stier,1,308000,Conventional,C30,First Lien,Purchase,Matt Garcia,Garcia - McElroy Team,The Heyl Group,Robert Pritts,True

In [13]:
hdf = pd.read_clipboard()

In [20]:
df['Loan Number'] = df['Loan Number'].apply(pd.to_numeric)

In [15]:
hdf['Loan Number'] = hdf['Loan Number'].apply(pd.to_numeric)

In [21]:
hdf[~hdf['Loan Number'].isin(df['Loan Number'])]

,Loan Number,Subject Property Address,Subject Property State,Subject Property City,Subject Property Zip,Closed Date,Funding Date Time,Loan Amount,Loan Officer,Referral Name Branch
78,290001539268,1165 Sunhill Dr,GA,Lawrenceville,30043,11/4/21,11/4/21,365750,Matt Garcia,The Heyl Group
79,290001548052,244 13th St NE Apt 304,GA,Atlanta,30309,11/5/21,11/5/21,235000,Matt Garcia,The Heyl Group

In [ ]:
df.apply(lambda x: 'The Heyl Group' if x['Loan Number'].isin(hdf['']))